<h1><%= @facade.username %>'s Dashboard</h1>

<% if @facade.tracked_category == nil %>
	<%@facade.create_categories%>
	<div>
		<p>Please Select Category to Track:</p>
	</div>
	<%= form_tag(categories_path, method: "put") do %>
		<% @facade.all_categories.each do |cat| %>
			<%= radio_button_tag :category, cat.ynab_cid, class: "category" %> <%= cat.name %> <br>
		<% end %>
			<%= submit_tag("Select Category") %>
	<% end %>

<% else %>
	<div class="category-data">
		<h4><u><%= @facade.tracked_cat_name %> Snapshot</u></h4>
		<div class="api-data">
			<% @facade.snapshot %>
		</div>
	</div>
<% end %>
