<!DOCTYPE html>
<html>
  <head>
    <title>Budg-It</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <div class="container">
        <a class="logo" href="/">
          <h1>Budg-It</h1>
        </a>
        <nav>
          <% if current_user %>
            <%= link_to "Log Out", logout_path, method: 'delete' %>
          <% else %>
            <%=link_to "Register", registration_path %>
            <%=link_to "Log In", login_path %>
          <% end %>
        </nav>
      </div>
    </header>
    <div class="content">
      <div class="flash-msgs">
       <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: name %>
        <% end %>
      </div>
      <%= yield %>
    </div>
    <footer>
      <div class="container">
        <div class="footer-text">
          <p>Backend Module 3 Turing School of Software Project</p>
          <p>By: Silvestre Cuellar, Dan Hutchinson, and Timothy Fell</p>
          <p><%= link_to 'Privacy Policy', privacy_path %></p>
        </div>
      </div>
    </footer>
  </body>
</html>
